<meta charset="utf-8">

<!-- Primary Meta Tags -->
<title>Vipul Sharma's Blog</title>
<meta name="title" content="Vipul Sharma's Blog">
<meta name="description" content="Vipul Sharma’s Blog">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vipul.xyz/">
<meta property="og:title" content="Vipul Sharma's Blog">
<meta property="og:description" content="Vipul Sharma’s Blog">
<meta property="og:image" content="{{ page.image | relative_url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://vipul.xyz/">
<meta property="twitter:title" content="Vipul Sharma's Blog">
<meta property="twitter:description" content="Vipul Sharma’s Blog">
<meta property="twitter:image" content="{{ page.image | relative_url }}"/>

<!-- Analytics -->
<script defer data-domain="vipul.xyz" src="https://plausible.vipul.xyz/js/script.js"></script>
<script defer data-domain="vipul.xyz" src="https://plausible.io/js/script.js"></script>

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
