---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$intro-transition  : none;
$global-transition : none;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.toc__menu {
    overflow-y: scroll;
    max-height: 600px;
}

html {
    background-color: #ffffff;
    // background-image: url("/assets/images/background.png");
}

body {
    line-height: 1.3;
    font-family: 'Gentium Basic', serif;
}

.sidebar {
    opacity: 1;
}

h1 {
    font-family: 'Gentium Basic', serif;
    font-style: italic;
}

h2, h3, h4, h5, h6, .toc, .nav__title {
    font-family: 'Gentium Basic', serif;
}

.archive {
    margin-top: 0;
}

.archive__item-title {
    font-family: 'Gentium Basic', serif;
    font-style: italic;
}

.archive__subtitle, .masthead__inner-wrap, .sidebar .author__name {
    font-family: 'Gentium Basic', serif;
}

.archive__subtitle {
    color: #000
}

.sidebar p, .sidebar li {
    font-family: 'Gentium Basic', serif;
}

.archive__item a:-webkit-any-link {
    text-decoration: none;
}

.archive__item a:visited {
    color: #000;
}

.greedy-nav {
    background: #FFF;
}

.greedy-nav .visible-links a:before {
    background: #000;
}

.masthead {
    border-bottom: 1px solid #eaedf0;
}

.toc .nav__title {
    background: #000;
}

.page__footer {
    background: #000;
}

.page__content {
    font-size: 0.9em;
}

.page__content p, ul {
    text-align: justify;
}

.social-icons .fa-instagram, .social-icons .fa-linkedin, .social-icons .fa-twitter, .social-icons .fa-twitter-square {
    color: #000;
}

.search__toggle {
    color: #000;
}

.pagination li a.current, .pagination li a.current.disabled {
    background: #393e46;
}

.grid__item .archive__item-excerpt {
    font-size: 0.85em;
}

.grid__item .archive__item-title {
    font-size: 1.1em;
}

/* Plotly */
#plotly-custom {
    margin-left: -160px;
}


/* Custom main page */
.page__content .post_date {
    font-size: 0.75em;
    margin-top: -15px;
}

.posts__main .archive__subtitle {
    font-size: 1.135em;
    margin-top: 0;
}

.posts__main h2 {
    font-size: 1.4em;
}

.posts__main .archive__item-title {
    margin-top: 1.5em;
}

.posts__main .archive__item-excerpt {
    margin-top: -12px;
    font-size: .8em;
}

/* Scribble page */
.posts__scribbles .archive__item-title{
    margin-top: 1.5em;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #plotly-custom {
        margin-left: -40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.site-logo img {
    max-height: 1.4rem !important;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.site-logo img {
    max-height: 1.4rem !important;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.site-logo {
    margin-left: 1.7rem !important;
}
.site-logo img {
    max-height: 1.4rem !important;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.site-logo {
    margin-left: 1.7rem !important;
}
.site-logo img {
    max-height: 1.4rem !important;
}
}

